<div>
  <h2>Request Logs</h2>
  <label for="timeframe">Select Timeframe:</label>
  <select [(ngModel)]="selectedTimeframe" (change)="onTimeRangeSelect(selectedTimeframe)">
    <option value="last5mins">Last 5 mins</option>
    <option value="last10mins">Last 10 mins</option>
    <option value="last30mins">Last 30 mins</option>
    <option value="custom">Custom</option>
  </select>

  <div *ngIf="selectedTimeframe === 'custom'">
    <label for="customStartTime">Start Time:</label>
    <input type="datetime-local" [(ngModel)]="customStartTime">
    <label for="customEndTime">End Time:</label>
    <input type="datetime-local" [(ngModel)]="customEndTime">
    <button (click)="loadLogs()">Load Logs</button>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngIf="showIdColumn">id</th>
        <th *ngIf="showIpColumn">iP</th>
        <th *ngIf="showUsernameColumn">username</th>
        <th *ngIf="showTimeStampColumn">timeStamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs">
        <td *ngIf="showIdColumn">{{ log?.id }}</td>
        <td *ngIf="showIpColumn">{{ log.ip }}</td>
        <td *ngIf="showUsernameColumn">{{ log.username }}</td>
        <td *ngIf="showTimeStampColumn">{{ log.timeStamp }}</td>
      </tr>
    </tbody>
  </table>
</div>
