<div class="search">
<input type="text" [(ngModel)]="searchQuery" placeholder="Search messages...">
<button (click)="searchMessages()">Search</button>
</div>

<div *ngIf="searchResults.length > 0" class="search-results">
<h3>Search Results</h3>
<ul>
  <li *ngFor="let message of searchResults" class="chat-message">
    <div class="incoming-message">
      <strong>{{ message.name }}</strong> {{ message.content }}<br>
      <small>{{ message.timestamp }}</small>
    </div>
  </li>
</ul>
<button (click)="closeSearchResults()">Close</button>
</div>
<div class="sidebar">

  <div class="table-container">
    <table>
  <thead style="display: block; ;">
   <strong> USER LIST</strong>
  </thead>
  <tbody>
    <ng-container *ngIf="userList.length === 0; else userListData">
      <tr>
        <td colspan="2">Loading user list...</td>
      </tr>
    </ng-container>
    <ng-template #userListData>
    
      <tr *ngFor="let user of userList" (click)="loadConversationHistory(user.id)">

        
      <!-- <tr *ngFor="let user of userList (click)="loadConversationHistory(user)" > -->
        <td style="background-color: #1563bd; border-radius: 10px;"><span> <div class="avatar">
          <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User name">
          <div class="status off"></div>
          {{ user.name}}<br>{{ user.email}}</div></span>
          <!-- <pre>{{ user | json }}</pre> -->
          <span></span></td>
      </tr>
    </ng-template>
  </tbody>
</table>
<div class="footer" style="position: fixed;">
  
<strong> log Information<a routerLink="/logs"> Log</a></strong>


</div>
</div>



</div>